* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(54,74,54);
    background: radial-gradient(circle, rgba(54,74,54,1) 0%, rgba(59,119,80,1) 24%, rgba(49,103,54,1) 47%, rgba(40,84,44,1) 71%, rgba(44,61,49,1) 96%);
  
    height: 100vh;
  }

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    position: fixed;
    width: 100%;
  }

  button {
    font-size: 1rem;
  padding: 0.8em 2em;
  background-color: #000;
  border: 3px solid rgb(66, 241, 90);
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px rgb(66, 241, 90);  
    
  }

  button:hover {
    transform: translate(5px, -5px);
  }

  #form-habits{
    display: flex;
    padding: 182px 48px 48px;
    width: fit-content;
  }

  .habitss{
    margin-top: 59px;
    display: flex;
    flex-direction: column;

    gap: 24px;
  }

  .habit{
    
    width: 64px;
    height: 64px;

    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .days {
    display: flex;
    gap: 48px;
    margin-left: 32px;



  }

  .day{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .day div{
    margin-bottom: 8px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125%;
    color: #e3e9e4;
    text-align: center;
  }

  input{

    -webkit-appearance: none;
    appearance: none;


    width: 64px;
    height: 64px;
    
    border: 2px solid #84CC16;
    border-radius: 8px;
    
    background: #000000;
  }

  input:checked{
    background: #86fa02;
    border: 2px solid #000000;
  }

  @media (max-width: 570px) {
    button div {
      display: none;
    }
  }